@media (max-width:600px){
  img{
    display: none;
  }
.aone{
margin-left: 2.8rem;
  width: 15rem;
}
.bottom-text, .bottom-text a{
  font-size: 0.8rem;
}
.forms-left{
  width: 100%;
}
.forms-right{
  display: none;
}
}