@media (max-width: 600px) {
  .forms-right {
    display: none;
  }
  .forms-left{
    width: 90%;
    margin: 0 auto;
    height: 20rem;  
  }
  .aone{
    margin-left: 2rem;
    width: 8rem;
  }
  .bottom-text, .bottom-text a{
    font-size: 0.7rem;
  }
  header {
    background-color: white;

    padding-left: 0px;
    margin: 0 auto;
  }
  .number-input label{
    width: 30rem;
    margin-left: -0.19rem;
  }
  .bith {
    width: 4rem;
  }
}
