@media (max-width:600px){
  .forms{
    
  }
  input{
    width: 20rem;
  }
  .head{
    font-size: 2.4rem;
  }
.child1, .child2{
  font-size: 1.4rem;
}
.bith{
  width: 5rem;
  height: 3rem;
}
.number-input{
  margin-right: 4.1rem;
  margin-top: 1rem;
}
.number-input label{
  margin-right: 7rem;
}
.inputs .p-tag{
  font-size: 1.3rem;
}
.gender{
  height: 3rem;
}
}