*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
input{
  display: block;
  width: 10rem;
  padding: 0.1rem;
  border: 0.01rem solid rgba(0, 0, 255, 0.671);
  border-radius: 0.2rem;

}
.forms-left div {
margin-top: 1rem;
}