* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header {
  background-color: #ced4da;
  width: 60%;
  margin: 3rem auto;
  padding: 5rem;
}
.first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 30rem;
  /* box-shadow: 0rem 0rem 1rem gray; */
}
.image-1 img {
  width: 19rem;
  padding: 8rem 1rem;
  background-color: rgb(0, 0, 255);
  border: none;
  margin-left: 8rem;
}
.icon {
  display: flex;
  /* justify-content: flex-end; */
  font-size: 1.6rem;
  margin-top:1rem;
  padding-left: 250px;
}
.section-a {
  margin-top: 1rem;
}
.section-a a {
  color: gray;
  text-decoration: none;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
}
.section-a .child1 {
  border-bottom: 0.1rem solid gray;
}
.section-a .child2 {
  border-bottom: 0.1rem solid rgb(0, 0, 255);
}
.inputs {
  margin-top: 3.5rem;
  position: relative;
 bottom: 1rem;
 
}
input {
  display: block;
  border: 0.05rem solid gray;
  border-radius: 0.3rem;
  padding: 0.4rem;
  margin-top: 0.2rem;
  width: 14rem;
}
.inputs div {
  margin-bottom: 1rem;
}
.forms {
  background-color: white;
  padding-left:7rem;
  padding-right: 3rem;
  /* margin-left: -0.01rem; */
  /* padding-top: 0.1rem; */
 padding-bottom: 5rem;
  height: 356px;
  /* margin-right: 3rem; */
}
.inputs button {
  background-color: blue;
  color: white;
  border: none;
  width: 14rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
  transition: 0.5s ease-in;
}
.inputs button:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 0.5;
}
.inputs p {
  font-size: 0.8rem;
  margin-top: 0.2rem;
}
