* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  background-color: rgba(255, 228, 196, 0.329);
  width: 60%;
  margin: 3rem auto;
  padding: 5rem;
  border-radius: 2rem;
}
.first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-1 img {
  width: 22rem;
  padding: 8rem 1rem;
  background-color: blue;
  border: none;
}
.icon {
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
}
.section-a {
  margin-top: 1rem;
}
.section-a a {
  color: gray;
  text-decoration: none;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
}
.section-a .child1 {
  border-bottom: 0.1rem solid gray;
}
.section-a .child2 {
  border-bottom: 0.1rem solid rgb(0, 0, 255);
}
.inputs{
  margin-top: 2rem;
}
input{
  display: block;
  border: 0.05rem solid pink;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-top: 0.3rem;
  width: 14rem;
}
.inputs div{
  margin-bottom: 1rem;
}
.forms{
  background-color: white;
  padding-left:7rem;
  padding-right: 3rem;
  margin-left: -0.01rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}
.inputs button{
  background-color: blue;
  color: white;
  border: none;
  width: 14rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.inputs button:hover{
  cursor: pointer;
opacity: 0.5;
}
.inputs p{
  font-size: 0.8rem;
  text-align: center;
  margin-top: 0.2rem;
}