* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  width: 70%;
  margin: 3rem auto;
  background-color: #f4f6fc;
padding: 5rem;  

}
h1{
  color:#868e96;
  font-weight: 500;
  font-size: 1.4rem;
}
.first {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.image-1 img {
  width: 22rem;
  padding: 8rem 1rem;
  background-color: #f9faff;
  margin-left: 3rem;
  border: none;
}

.section-a {
  margin-top: 1rem;
}
.section-a a {
  color: gray;
  text-decoration: none;
  margin-right: 0.5rem;
  padding-bottom: 0.3rem;
}
.section-a .child1 {
  border-bottom: 0.1rem solid gray;
}
.section-a .child2 {
  border-bottom: 0.1rem solid rgb(0, 0, 255);
}
.inputs{
  margin-top: 2rem;
}
input, .gender{
  display: block;
 border: none;
  border-radius: 0.3rem;
  padding: 0.3rem;
  margin-top: 0.3rem;
  width: 14rem;
  background-color: rgba(128, 128, 128, 0.11);
height: 1.5rem;
}
.gender{
  height: 2rem;
}
label{
  color: #868e96;
}
.number-input{
  text-align: center;
  margin-right: 0.6rem;
}
.number-input label{
  margin-right: 8.7rem;
}
.bith{
  border: none;
  border-radius: 0.1rem;
  width: 4.5rem;
  height: 2rem;
  margin-left: 0.1rem;
  background-color: #e9ecef;
border-radius: 0.2rem;
}
.inputs div{
  margin-bottom: 1rem;
}
.forms{
  border: 0.5rem solid white;
  background-color: white;
  padding-left:7rem;
  padding-right: 3rem;
  margin-left: -3rem;
/* margin-top: 2rem; */
  height: 27.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.inputs button{
  background-color: blue;
  color: white;
  border: none;
  width: 14rem;
  padding: 0.4rem;
  border-radius: 0.3rem;
}
.inputs button:hover{
  cursor: pointer;
opacity: 0.5;
}
.inputs p{
color: #868e96;
font-size: 0.8rem;
}
.inputs p a{
  text-decoration: none;
}